@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Rubik", sans-serif
    list-style-type: none
    text-decoration: none
    scroll-behavior: smooth

@mixin flex
    display: flex
    justify-content: center
    align-items: center

body
    background-color: #ffffff

.container
    max-width: 960px
    margin: auto
.header
    display: flex
    flex-direction: column
    position: relative
    .menu-btn
        width: 40px
        height: 30px
        flex-direction: column
        justify-content: space-between
        background: none
        border: none
        cursor: pointer
        span
            height: 4px
            background-color: #111
            width: 100%
            border-radius: 50px

.header__title
    text-align: center
    padding: 45px
    position: relative
.header__title-text
    font-size: 66px
    font-weight: 500
    letter-spacing: 1.2px
    background-image: linear-gradient(180deg, #520991, #a805ae)
    color: transparent
    background-clip: text
    -webkit-background-clip: text

.header__title-extratext
    font-weight: 500
    font-size: 27px
    color: #404040

.nav
    display: flex
    justify-content: center
    align-items: center
    border-bottom: 1px solid #bebebe
    border-top: 1px solid #bebebe
    background-color: #e0e0e0

.menu
    display: flex
.menu__item
    padding: 20px 30px
    transition: .3s all
    &:hover
        background-color: #7a488c
        .menu__link
            color: beige

.menu__link
    font-size: 19px
    color: #111113
    padding: 15px
    font-weight: 500
h2, h3, h4, h5, h6
    font-size: 46px
    font-weight: 400
    font-family: 'Oswald'
    letter-spacing: 1px
section
    padding: 100px 0
.about
    background-image: url(images/schemes.jpg)
    background-size: cover
    background-repeat: no-repeat
.about__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    gap: 40px
.about__picture img
    max-width: 500px
.about__info
    p
        font-size: 18px
        margin: 25px 0
        line-height: 1.5
    button
        padding: 20px 80px
        color: white
        font-weight: 400
        background-image: linear-gradient(45deg, #520991, #b861d7)
        font-size: 24px
        border: none
        border-radius: 50px
        cursor: pointer
        box-shadow: 1px 2px 3px black
.advantages
    background-color: #e0e0e0
    border-bottom: 1px solid #bebebe
    border-top: 1px solid #bebebe
    p

.advantages__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    padding: 80px 0
    flex-wrap: wrap
    gap: 50px
.single__adv
    display: flex
    flex-direction: column
    align-items: center
    max-width: 250px
    gap: 30px
    img
        height: 40px

    p
        text-align: center
        font-size: 17px
        max-width: 80%
        height: 100px
.learnmore
    text-align: center
    a
        color: #3a3aa4

.price__wrapper
    display: flex
    justify-content: space-around
    align-items: center
    margin-top: 50px
.single__price
    display: flex
    flex-direction: column
    align-items: center
    gap: 30px
    .single__name
        font-size: 28px
        font-weight: 500
    .price__number
        font-size: 30px
        font-weight: 400
    img
        max-width: 220px
        transition: .3s all
        cursor: pointer
        &:hover
            transform: scale(1.2)
    .learnmore
        font-size: 20px
    button
        padding: 10px 40px
        color: white
        font-weight: 400
        background-image: linear-gradient(45deg, #520991, #b861d7)
        font-size: 18px
        border: none
        cursor: pointer
        box-shadow: 1px 2px 3px black
.gallery
    background-color: #320957be
    color: white
.wrapper
    position: relative
    width: 100%
    @include flex
    margin: 40px 0
.slider
    position: relative
    overflow: hidden
    max-width: 1000px
    height: auto
.slider__nav
    position: absolute
    bottom: 25px
    width: 100%
    display: flex
    justify-content: center
    .slider__nav-item
        width: 40px
        height: 12px
        border: 2px solid white
        margin: 5px
        cursor: pointer
        transition: .4s all
        &:hover
            background-color: white
#s1:checked~.s1
    margin-left: 0

#s2:checked~.s1
    margin-left: -20%

#s3:checked~.s1
    margin-left: -40%

#s4:checked~.s1
    margin-left: -60%

.slider__items
    width: 500%
    height: 100%
    display: flex
    .item
        width: 20%
        transition: .7s all
        img
            max-width: 100%
            border-radius: 10px
    input
        position: absolute
        visibility: hidden
.buy
    background-color: #e0e0e0
    border-bottom: 1px solid #bebebe
    border-top: 1px solid #bebebe

.buy__form
    padding: 50px
    background-color: white
    margin: 30px 0
    border-radius: 15px
    display: flex
    flex-direction: column

    label
        margin: 25px
        font-weight: 500
        font-size: 22px
    input
        padding: 20px 25px
        font-size: 20px
        border: 1px solid #e0e0e0
        border-radius: 50px
        &:focus
            outline: none
    textarea
        padding: 20px 25px
        font-size: 18px
        border: 1px solid #e0e0e0
        border-radius: 50px
        resize: vertical
        overflow: hidden
        &:focus
            outline: none
    select
        padding: 20px 25px
        font-size: 20px
        border: 1px solid #e0e0e0
        border-radius: 50px

        &:focus
            outline: none

.form__title
    font-size: 24px
    margin: 20px 25px
.form__button
    padding: 10px 40px
    color: white
    font-weight: 400
    background-image: linear-gradient(45deg, #520991, #b861d7)
    font-size: 18px
    border: none
    cursor: pointer
    box-shadow: 1px 2px 3px black
    width: 20%
    margin-top: 30px
    border-radius: 50px
    align-self: flex-end
footer
    background-color: #111113
    padding: 20px 0
    color: white
    font-size: 20px
    text-align: center

@media (max-width: 1050px)
    .menu
        display: none
    .header__title-text
        font-size: 45px
    .header__title-extratext
        font-size: 23px

@media (max-width: 926px)
    .container
        max-width: 800px
        margin: auto
    h2, h3, h4, h5, h6
        font-size: 30px
    .about__info
        p
            font-size: 16px
            line-height: 1.2
        button
            padding: 10px 40px
            font-size: 18px
    .single__name
        font-size: 20px !important
    .price__number
        font-size: 22px !important
    .about__picture img
        max-width: 100%
    .advantages__wrapper
        justify-content: center
    .form__button
        padding: 10px 20px
        align-self: center
    .buy__form
        input
            padding: 15px 25px

@media (max-width: 700px)
    .container
        max-width: 600px
        margin: auto
    .menu-btn
        display: flex !important
        margin-left: 20px
        position: absolute
        top: 40%
    .menu
        transform: translateX(-100%)
        transition: transform .6s
        position: absolute
        width: 100%
        top: 80px
        left: 0
        right: 0
        background-color: rgba(0, 0, 0, 0.9)
        flex-direction: column
        padding: 50px 30px
        text-align: center
        text-transform: uppercase
        display: block
        .menu-item
            &:hover
                background-color: none !important
        a
            color: white
            font-size: 25px

    .menu.menu-active
        transform: translateX(0)
    .about__info
        button
            padding: 6px 20px
            font-size: 18px
    .form__button
        padding: 5px 10px
        align-self: center

@media (max-width: 520px)
    .container
        max-width: 400px
        margin: auto
    .header__title

    h2, h3, h4, h5
        text-align: center
    .about__wrapper
        flex-direction: column
        text-align: center
        .about__picture img
            display: none
    .price__wrapper
        flex-direction: column
        gap: 60px
    .buy__form
        text-align: center
        input
            padding: 10px
            border-radius: 0
        textarea
            padding: 10px
            border-radius: 0
        select
            padding: 10px
            border-radius: 0
    .form__button
        width: 150px
        padding: 10px 8px
        align-self: center
